
@media (max-width: 1300px) {
    html{
        font-size: 55%;
    }
    body{
        overflow-x: hidden;
    }
    .checkout-main.grid-2-columns{
        grid-template-columns: 1fr;
    }
    .checkout-main .products-info{
        justify-self: start;
        margin: 0 auto;
    }
    .checkout-contact-info-box{
        margin: 0 auto;
    }
}
@media (max-width: 600px) {
    html{
        font-size: 40%;
    }
    .checkout-main .products-info{
        justify-self: start;
    }
}
@media (max-width: 524px) {

}