*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #0f0f0f;
    color: #fff;
    padding: 1rem 2rem;
    box-shadow: 0 .4rem .8rem rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo1 {
    width: 6rem;
    height: 6rem;
    background-color: #101010;
    margin: auto;
    margin-right: 47%;
}

#navbar {
    font-size: 2.5rem;
    color: rgb(200, 34, 34);
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    margin-right: auto;
}

.mainimage {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://storage.googleapis.com/bosta-files/sllr_store_images/OTIxNzMyX18yMDI0LTA2LTMwVDE4OjM4OjE0LjU3NlpfMjNCQjc4MjktM0E4Mi00QTI1LTlBREUtMDYxNjE3QkFBODgwLmpwZWc=.jpeg');
    max-height: 80rem;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-bottom: 2rem;*/
}


.mainbuttonshopnow {
    padding: 1rem 2rem;
    background-color: rgb(70, 19, 11);
    color: #fff;
    border-radius: .8rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border: none;
    font-size: 1.6rem;
}


.under{
    width: 100%;
    height: 7vh;
}

@media (max-width: 768px) {
    .logo1 {
        width: 50px;
        height: 50px;
    }

    #navbar {
        font-size: 20px;
    }

    .mainimage {
        max-height: 500px;
    }

    .mainbuttonshopnow {
        font-size: 14px;
        padding: 8px 16px;
    }
}
.project{
    margin: 2rem auto 8rem;
}
.home-page-clothes .project{
    width: 120rem;
    color: white;
}
.space-background .project .card .card-text{
    background-color: whitesmoke;
    color: black;
}
.home-page-clothes{
    background-image: url("../img/background-space.jpeg");
}
.project h2{
    font-size: 3rem;
    text-transform: uppercase;
}
.project h2 span{
    font-size: 4rem;
}
.card{
    box-shadow: 2px 2px 1rem rgba(0, 0, 0,.3);
    transition: transform 0.3s ease;
    border-radius: .7rem;
    overflow: hidden;
}
.card:hover{
    transform: scale(1.05);
}
.card img{
    width: 32.6rem;
    height: 35.5rem;
}
.card-text{
    padding: 2rem;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.card-text p:first-child{
    font-size: 2.4rem;
}
.card-text p span
{
    text-decoration: line-through;
    color: rgba(128, 128, 128, 1);

}
.card-text p strong {
    color: #660000;
    font-size:2rem ;
}
.card-text p strong:first-child {
    font-size:2.4rem ;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 2.4rem;
    row-gap: 3.6rem;
    /*margin-top: 5rem;*/
}
.grid-3-columns{
    grid-template-columns: repeat(4,1fr);
}

.grid-2-columns{
    grid-template-columns: repeat(2,1fr);
}
.grid-1-columns{
    grid-template-columns: repeat(1,1fr);
}
footer {
    background-color: #0E0000;
    color: #A08080;
    padding: 3rem;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    font-size: 2.8rem;
}

/*//////////////////////////////////!***************!/////////////////////////*/
/*//////////////////////////////////!***************!/////////////////////////*/
/*//////////////////////////////////!***************!/////////////////////////*/
/*//////////////////////////////////!***************!/////////////////////////*/


.product-container {
    display: flex;
    gap: 6rem;
    padding: 5rem;
    border-radius: 1rem;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 .4rem .8rem rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 120rem;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
body.blurred::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    backdrop-filter: blur(5px); /* Blur effect */
    z-index: 500; /* Lower than overlay, higher than content */
}
.product-images {
    flex: 1;
    text-align: center;
}

.product-images img {
    width: 100%;
    /*max-width: 30rem;*/
    border-radius: 1rem;
    /*height: 36rem;*/
}

.thumbnails {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
}

.thumbnails img {
    width: 6rem;
    height: 6rem;
    border-radius: .5rem;
    cursor: pointer;
}

.product-details {
    flex: 2;
}

.product-title {
    font-size: 3.5rem;
    margin: 0;
    color: #333;
}

.product-price {
    margin: 1rem 0;
    font-size: 1.8rem;
}

.current-price {
    color: #660000;
    font-weight: bold;
    font-size: 2.5rem;
}

.original-price {
    text-decoration: line-through;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #888;

}

.discount {
    color: #660000;
    margin-left: 1rem;
}

.product-options p {
    margin: 1rem 0 .5rem;
    font-weight: bold;
}

.sizes {
    display: flex;
    gap: 1rem;
}

.sizes button {
    padding: .5rem 1rem;
    border: 1px solid #ddd;
    border-radius: .5rem;
    cursor: pointer;
    background-color: #f0f0f0;
    color: #333;
}
.ant-tag{ background-color: #fee4e2;
    color: #000;border-radius: .5rem;
    padding: .5rem;font-size: 1.5rem;}
.sizes button:hover {
    background-color: #660000;
    color: white;
}
.sizes button:focus {
    background-color: #fee4e2;
    color: #660000;
    border: 2px solid #660000;
}

.purchase-options {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    align-items: center;
}

.input {
    width: 6rem;
    height: 3rem;
    text-align: center;
    font-size: 1.6rem;
    border: 1px solid #ddd;
    border-radius: .7rem;
    padding: .5rem;

}


.buy-now {
    width: 43rem;
    padding: 1rem;
    background-color: #660000;
    color: white;
    border: none;
    border-radius: .7rem;
    cursor: pointer;
    height: 4rem;
    font-size: medium;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-to-cart {
    width: 38.5rem;
    padding: 1rem;
    background-color: #fff;
    color: #660000;
    border: 2px solid #660000;
    border-radius: .7rem;
    cursor: pointer;
    gap: 1rem;
    margin-top: 2rem;
    height: 4rem;
}

.add-to-cart:hover {
    border: 3px solid #660000;
    color: #660000;
}
.input:hover {
    border: 2px solid #660000;
}

.extra-info {
    margin-top: 2rem;
    font-size: 1.4rem;
    color: #555;
}

.sold-by {
    margin-top: 2rem;
    font-size: 1.4rem;
    color: #333;
    font-weight: bold;
}
.icons{
    display: flex;
    gap: .8rem;

}
.extra-info p {
    padding: 1rem;
    font-size: 1.5rem;
}
.cancel-btn{
    width: 5rem;
    height: 5rem;
    align-self: start;
    padding: .5rem;
    border: none;
    font-size: 2rem;
    border-radius: 50%;
    background-color: #cbcbcb;
}
.cancel-btn-container{
    align-self: start;
}
.cancel-btn:hover{
    background-color: black;
    color: white;
}
/*//////////////////////////////////////////////////////!**************!///////////////////////*/
/*//////////////////////////////////////////////////////!**************!///////////////////////*/
/*//////////////////////////////////////////////////////!**************!///////////////////////*/
/*//////////////////////////////////////////////////////!**************!///////////////////////*/
/*//////////////////////////////////////////////////////!**************!///////////////////////*/
/*//////////////////////////////////////////////////////!**************!///////////////////////*/
/*//////////////////////////////////////////////////////!**************!///////////////////////*/
/*//////////////////////////////////////////////////////!**************!///////////////////////*/
.add-products-form{
    padding: 2rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    font-size: 1.6rem;
}
.product-grid-form{
    display: grid;
    grid-template-columns: .5fr 2fr;
    align-items: center;
}

.add-products-form button{
    padding: 1rem;
    border-radius: 1rem;
    width: 15rem;
    border: none;
    cursor: pointer;

}
.add-products-form .submit-product{
    background-color: black ;
    color: whitesmoke;
}
.add-products-form button,
.add-products-form input{
    font-size: 1.6rem;
    padding: .5rem;
    margin: .5rem;
    border-radius: .5rem;
}
.add-products-form .submit-product:hover{
    background-color: grey;
    color:white;
}
.add-products-form .delete-product{
    background-color: whitesmoke;
    color:black;
}
.add-products-form .delete-product:hover{
    background-color: grey;
    color:white;
}
.add-products-form label{
    font-weight: bold;
    justify-self: start;
}
.admin-heading{
    padding: 2rem;
    font-size: 3rem;
    color: #97310b;
    margin-top: 2rem;
}
.secondary-heading{
    padding: 2rem 2rem 1rem;
    text-align: center;
    font-size: 3rem;
    color: #f4f4f4;
    background-color: grey;
    text-transform: uppercase;
    margin-top: 3rem;
    margin-bottom: 7rem;
}


.create-product.add-products-form{
    color: black;
    display: flex;
    justify-content: center;
    width: 40%;
    margin: 0 auto;
    padding-top: 0;
}
.create-product label{
    color: inherit;
}
.create-product label,
.create-product button{
    font-size: 2rem;
    color: #474242;
}

.create-product .submit-product{
    background-color: black;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
}

.success-alert,.error-alert{
    width: 70rem;
    height: 7rem;
    color: whitesmoke;
    background-color: black;
    position: fixed;
    top: 10rem;
    right: 50%;
    font-size: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    transform: translate(50%, 0);
}

.error-alert{
    background-color: #982d2d;
}

.project-heading{
    margin-top: 8rem;
    margin-bottom:5rem ;
}
/*////////////////////////////////////////*/
/*Checkout paga*/
/*////////////////////////////////////////*/
.checkout-body{
    display: block;
    background-color: #f9fafb;
}
.checkout-header{
    padding: 2rem;
    background-color: whitesmoke;
    display: flex;
    justify-content: start;
    color: black;
    font-size: 3rem;
    /*margin-bottom: 3rem;*/
    min-width: 480px;
}
.checkout-header .logo1{
    border-radius: 50%;
    margin: 0 2rem 0 0;
}
.checkout-main{
    font-size: 1.8rem;
}
.checkout-return span{
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1rem 1rem 1rem 0;
}
.products-info{
    justify-self: end;
    font-size: 1.8rem;
    padding: 3rem;
}
.checkout-return svg{
    width: 2.4rem;
    height: 2.4rem;
}
.checkout-return{
    display: flex;
    align-items: center;
    gap:.5rem;
    color: #400101;
    margin-bottom: 3rem;
    text-decoration: none;
    cursor: pointer;
}
.checkout-products-summary{
    display: flex;
    flex-direction: column;
    gap:5rem;
    margin-bottom: 5rem;
}

.order-note{
    margin-bottom:3rem ;
}
.line-break{
    margin-bottom:3rem ;
    border-top: 2px solid rgba(169, 169, 169, .5);
}
.line-through{
    text-decoration: line-through;
    color: grey;
}
.checkout-heading
{
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.order-note textarea{
    /*display: block;*/
    height: 9rem;
    border-radius: 1rem;
    padding: 1rem;
    width: 55rem;

}
.order-note textarea:hover{
    border: 3px solid grey;
}

.discount-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;

}
.discount-input input{
    width: 70%;
    height: 3rem;
    border-radius: .5rem;
    padding: 1rem;
}
.discount-input button{
    padding: 1rem;
    border:none;
    width: 8rem;
    font-size: 1.8rem;
    color: #333333;
    border-radius: 1.5rem;
}
.checkout-prices{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.checkout-prices strong {
    font-size: 2rem;
}
.product-cart-info{
    grid-template-columns: 1fr 3fr;
    column-gap: 1rem;
}
.product-cart-info img{
    width: 7rem;
    height: 7rem;
    border-radius: .4rem;

}
.product-cart-icons{
    display: flex;
    justify-content: end;
    align-items: start;
    gap: 1rem;
}
.product-cart-icons svg{
    width: 3rem;
    height: 4rem;
    background-color: white;
    cursor: pointer;
    border-radius: .5rem;
}
.product-cart-icons svg:hover{
    border: 2px solid black;
}

.product-cart-icons input{
    display: inline-block;
    width: 6rem;
    height: 4rem;
    background-color: white;
    border-radius: .5rem;
    text-align: center;

}
.checkout-product-summary{
    display: flex;
    gap: .6rem;
    flex-direction: column;
}

.checkout-contact-info{
    padding: 3rem;
}
.checkout-contact-info-box{
    background-color: whitesmoke;
    box-shadow: 0 .4rem .8rem rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    align-self: auto;
    padding: 3rem;
    width: 60rem;
}
.checkout-contact-info-box h2{
    margin-bottom: 2rem;
}
.label-new-line{
    display: block;
}
.checkout-contact-info-box label,
.checkout-contact-info-box h3
{
    margin-bottom: 1rem;
}
.checkout-contact-info-box h3{
    font-size: 2.4rem;
}
#phone-number{
    border-radius: .5rem;
    width: 40rem;
    height: 3rem;
    padding: 1rem;
    margin-bottom: 2rem;
}
.checkout-payment-methods{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
#payment-method{
    background-color: #982d2d;
    color: #982d2d;
}

.checkout-payment-methods svg{
    width: 2.2rem;
    cursor: pointer;
}

.checkout-payment-methods svg:hover{
    stroke: white;
}
.checkout-payment-methods div{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.place-order{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #561a1a;
    padding: 1.5rem;
    color: whitesmoke;
    border-radius: .5rem;
    margin-bottom: 2rem;
}
.place-order--not-active{
    background-color: #d0d5dd;
    color: black;
}
.contact-footer{
    color: #561a1a;
    text-align: center;
    font-size: 2rem;
}
.dollar{
    width: 3rem;
}
.add-new-product-to-cart{
    background-color:#561a1a ;
    color: whitesmoke;
    /*width: rem;*/
    padding: 1rem;
    margin: 0 auto;
    border-radius: 1rem;
    cursor: pointer;
}
.add-new-product-to-cart:hover{
    background-color: #401313;
    color: whitesmoke;
}
.apply-discount-btn:hover{
    background-color: #333333;
    color: whitesmoke;
}
.white-pg{
    background-color: white;
    color: black;
}
.space-background{
    background-image: url("../img/background-space.jpeg");
}

